<div class="profileSeparator" style="border: 0px"></div>

<div class="flexProfile card center z-depth-2 ">
  <div class="card-title">New Order</div>

<%= render 'form' %>

   <div class="card-review">
    <%= link_to 'Back', user_path(@user) %>
  </div>
</div>