
   <div class="row">
      <div class="col s12">
        <div class="card editCardSize blue lighten-2">
            <div class="row">
                <div class="col s2 h200">
                  <div class="card-image pic">
                  </div>
                </div>
                <div class="col s10">
                      <h4>Haasith    Sanka<a class="waves-effect waves-light btn top right" href="profile">Save</a></h4>
                          <div class="input-field col s2 nomargin nopadding">
                              <input id="Email" type="text" class="validate">
                              <label for="Email"><font color="black">Email</font></label>
                          </div>
                          <div class="input-field col s2 nomargin nopadding">
                              <input id="phoneNumber" type="text" class="validate">
                              <label for="PhoneNumber"><font color="black">Phone Number</font></label>
                          </div>
                          <br><br><br>
                          <div class="input-field col s6 nomargin">
                              <textarea id="description" class="materialize-textarea"></textarea>
                              <label for="description"><font color="black">Description</font></label>
                          </div>
                          <br><br><br><br><br><br>
                      <div class="chip">
                        Java
                      </div>
                      <div class="chip">
                        C++
                      </div>
                      <div class="chip">
                        C#
                      </div>
                </div>
            </div>
            <h3 class="center">Projects</h3>
            <div class="row">
                <div class="col s2 h200">
                        <a href="home">
                            <div class="card-image pic">
                            </div>
                        </a>
                        <div class="input-field">
                              <input id="last_name" type="text" class="validate">
                              <label for="last_name"><font color="black">Project Name</font></label>
                        </div>
                        <div class="input-field">
                            <textarea id="Description" class="materialize-textarea" length="250"></textarea>
                            <label for="Description"><font color="black">Description</font></label>
                        </div>
                </div>
                <div class="col s2 h200">
                    <a href="home">
                            <div class="card-image pic">
                            </div>
                        </a>
                        <div class="input-field">
                              <input id="last_name" type="text" class="validate">
                              <label for="last_name"><font color="black">Project Name</font></label>
                        </div>
                        <div class="input-field">
                            <textarea id="Description" class="materialize-textarea" length="250"></textarea>
                            <label for="Description"><font color="black">Description</font></label>
                        </div>
                </div>
                <div class="col s2 h200">
                        <a href="home">
                            <div class="card-image pic">
                            </div>
                        </a>
                        <div class="input-field">
                              <input id="last_name" type="text" class="validate">
                              <label for="last_name"><font color="black">Project Name</font></label>
                        </div>
                        <div class="input-field">
                            <textarea id="Description" class="materialize-textarea" length="250"></textarea>
                            <label for="Description"><font color="black">Description</font></label>
                        </div>
                </div>
                <div class="col s2 h200">
                        <a href="home">
                            <div class="card-image pic">
                            </div>
                        </a>
                        <div class="input-field">
                              <input id="last_name" type="text" class="validate">
                              <label for="last_name"><font color="black">Project Name</font></label>
                        </div>
                        <div class="input-field">
                            <textarea id="Description" class="materialize-textarea" length="250"></textarea>
                            <label for="Description"><font color="black">Description</font></label>
                        </div>
                </div>
                <div class="col s2 h200">
                    <a href="home">
                            <div class="card-image pic">
                            </div>
                        </a>
                        <div class="input-field">
                              <input id="last_name" type="text" class="validate">
                              <label for="last_name"><font color="black">Project Name</font></label>
                        </div>
                        <div class="input-field">
                            <textarea id="Description" class="materialize-textarea" length="250"></textarea>
                            <label for="Description"><font color="black">Description</font></label>
                        </div>
                </div>
                <div class="col s2 h200">
                        <a href="home">
                            <div class="card-image pic">
                            </div>
                        </a>
                        <div class="input-field">
                              <input id="last_name" type="text" class="validate">
                              <label for="last_name"><font color="black">Project Name</font></label>
                        </div>
                        <div class="input-field">
                            <textarea id="Description" class="materialize-textarea" length="250"></textarea>
                            <label for="Description"><font color="black">Description</font></label>
                        </div>
                </div>
            </div>
      </div>
   </div>