<section class="content">
    <body class="homepage bg-img">
            <form class="col s12 centered side">
                    <div class="input-field hcenter col s4">
                        <input placeholder="I'm looking for..." id="listing" type="text" class="validate">
                    </div>
                    
                    <div class="input-field hcenter col s2">
                        <input placeholder="ZIP" id="zipcode" type="text" class="validate">
                    </div>
                    <a class="waves-effect waves-light nomargin center-align btn hcenter col s1"><i class="material-icons">search</i></a>
            </form>
    </body>
</section>