<body>
    <section class="clear bg-img">
        <form class="col s12 hcenter vcenter">
            <div class="bg">
                <div class="input-field hcenter col s4">
                    <input placeholder="I'm looking for..." id="listing" type="text" class="validate">
                </div>
                <div class="input-field hcenter col s2 bg-last">
                    <input placeholder="ZIP" id="zipcode" type="text" class="validate">
                </div>
                <a class="waves-effect waves-light nomargin center-align btn hcenter col s1 bg"><i class="material-icons icon-black">search</i></a>
            </div>
        </form>
        <div class="clear"></div>
    </section>
</body>