<body class="homepage">
    <div class="row hcenter vcenter nomargin bg-img">
        <form class="col-centered s12">
            <div class="row hcenter">
                <div class="input-field bg col s8">
                    <input placeholder="I'm looking for..." id="listing" type="text" class="validate">
                </div>
                
                <div class="input-field bg col s4">
                    <input placeholder="ZIP" id="zipcode" type="text" class="validate">
                </div>
            </div>
        </form>
    </div>
</body>