<body>
    <section class="clear bg-img">
        <form class="col s12 hcenter vcenter">
            <div class="bg">
                <div class="input-field border-right hcenter col s4 bg-left nomargin">
                    <input placeholder="I'm looking for..." id="listing" type="text" class="validate nomargin">
                </div>
                <div class="input-field border-right hcenter col s2 bg-last nomargin">
                    <input placeholder="ZIP" id="zipcode" type="text" class="validate nomargin">
                </div>
                <a class="waves-effect waves-light center-align btn home hcenter col s1 btn-padding"><i class="material-icons icon-black">search</i></a>
            </div>
        </form>
        <div class="clear"></div>
    </section>
</body>