<body class="homepage">
        <div class="android nomargin nopadding">
            <div class ="vcenter">
<<<<<<< HEAD
                <a class=" waves-effect waves-light btn" href="listing">Android | <i class="fa fa-android" aria-hidden="true"></i></a>
=======
                <a class=" waves-effect waves-light btn" href="listing#index">Android | <i class="fa fa-android" aria-hidden="true"></i></a>
>>>>>>> develop
            </div>
        </div>
        <div class="website nomargin nopadding">
            <div class ="vcenter">
<<<<<<< HEAD
                <a class=" waves-effect waves-light btn"  href="listing">Website | <i class="fa fa-html5" aria-hidden="true"></i></a>
=======
                <a class=" waves-effect waves-light btn"  href="listing#index">Website | <i class="fa fa-html5" aria-hidden="true"></i></a>
>>>>>>> develop
            </div>
        </div>
        <div class="ios nomargin nopadding">
            <div class ="vcenter">
<<<<<<< HEAD
                <a class=" waves-effect waves-light btn"  href="listing" >iOS | <i class="fa fa-apple" aria-hidden="true"></i></a>
=======
                <a class=" waves-effect waves-light btn"  href="listings#index" >iOS | <i class="fa fa-apple" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="allcat nomargin nopadding">
            <div class ="vcenter">
                <a class=" waves-effect waves-light btn" href="listings#index">ALL</i></a>
>>>>>>> develop
            </div>
        </div>
  </div>
</body>
  
        