<body class="homepage">
        <div class="android nomargin nopadding">
            <div class ="vcenter">
                <a class=" waves-effect waves-light btn" href="listing">Android | <i class="fa fa-android" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="website nomargin nopadding">
            <div class ="vcenter">
                <a class=" waves-effect waves-light btn"  href="listing">Website | <i class="fa fa-html5" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="ios nomargin nopadding">
            <div class ="vcenter">
                <a class=" waves-effect waves-light btn"  href="listing" >iOS | <i class="fa fa-apple" aria-hidden="true"></i></a>
            </div>
        </div>
  </div>
</body>
  
        