
   <div class="row">
      <div class="col s12">
        <div class="card cardSize">
          <div class="card-content nomargin">
          <div class="left pic">
              <img src="blitzzzzzz/app/assets/images/Small_scream.png">
          </div>
              <h7>Haasith    Sanka</h7>
              <br>
              <h8>haasith2@gmail.com</h8>
              <br>
              <h8>858-432-1222</h8>
          </div>
        </div>
      </div>
   </div>