<div style="text-align:center;">
    <h5>Make a Listing</h5>
</div>
  <div class="row">
    <form class="col s12" id="listingPage">
      <div class="row">
        <div class="input-field col s12">
          <input id="nameOfListing" type="text" class="validate">
          <label for="nameOfListing">Name of Listing</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="owner" type="text" class="validate">
          <label for="owner">Owner</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <input id="description" type="text" class="validate">
          <label for="Description">Description</label>
        </div>
      </div>
    </form>
  </div>
  <div style="text-align:center;">
        <a class="waves-effect waves-light btn">Post Listing</a>
  </div>
  
        

