
   <div class="row">
      <div class="col s12">
        <div class="card cardSize blue lighten-2">
            <div class="row">
                <div class="col s2 h200">
                  <div class="card-image pic">
                  </div>
                </div>
                <div class="col s10">
                      <h4><%= current_user.first_name %> <%= current_user.last_name %><a class="waves-effect waves-light btn right top" href="edit">Edit</a></h4>
                      <h6><%= current_user.username %></h6>
                      <h6><%= current_user.email %></h6>
                      <p>How will a shot scratch into the lyric buffer? Will the rights rag elaborate? After a thesis gasps a sole feat. The league reads on top of whatever trumpet! The dentist weds an integral guide after the recruit. The pattern pumps!</p>
                      <div class="chip">
                        Java
                      </div>
                      <div class="chip">
                        C++
                      </div>
                      <div class="chip">
                        C#
                      </div>
                </div>
            </div>
            <h3 class="center">Projects</h3>
            <div class="row">
                <div class="col s2 h200">
                    <a href="home">
                    <div class="card-image pic">
                    <span class="card-title"><font color="black">Project 1</font></span>
                    </div>
                    </a>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
                <div class="col s2 h200">
                    <a href="home">
                    <div class="card-image pic">
                    <span class="card-title"><font color="black">Project 2</font></span>
                    </div>
                    </a>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
                <div class="col s2 h200">
                    <a href="home">
                    <div class="card-image pic">
                    <span class="card-title"><font color="black">Project 3</font></span>
                    </div>
                    </a>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
                <div class="col s2 h200">
                    <a href="home">
                    <div class="card-image pic">
                    <span class="card-title"><font color="black">Project 4</font></span>
                    </div>
                    </a>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
                <div class="col s2 h200">
                    <a href="home">
                    <div class="card-image pic">
                    <span class="card-title"><font color="black">Project 5</font></span>
                    </div>
                    </a>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
                <div class="col s2 h200">
                    <a href="home">
                    <div class="card-image pic">
                    <span class="card-title"><font color="black">Project 6</font></span>
                    </div>
                    </a>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
      </div>
   </div>