<h3 class="center"> Settings</h3>

<div class="row">
    <h4 class="left nomargin">Edit Password</h4>
    <br><br>
    <div class="col s4 left">
        <div class="input-field">
          <input id="oldPassword" type="text" class="validate">
          <label for="oldPassword">Old Password</label>
        </div>
        <div class="input-field">
          <input id="newPassword" type="text" class="validate">
          <label for="newPassword">New Password</label>
        </div>
        <br>
        <a class="waves-effect waves-light btn">Change Password</a>
    </div>
</div>
<br><br>
<div class="row">
    <h4 class="left nomargin">Edit Personal Information</h4>
    <br><br>
    <div class="col s4 left">
        <div class="input-field">
          <input id="phoneNumber" type="text" class="validate">
          <label for="phoneNumber">Phone Number</label>
        </div>
        <div class="input-field">
          <input id="school" type="text" class="validate">
          <label for="school">School</label>
        </div>
        <div class="input-field">
          <input id="email" type="text" class="validate">
          <label for="email">Email</label>
        </div>
        <br>
       <a class="waves-effect waves-light btn">Save</a>
    </div>
</div>

