@import "materialize";
@import "font-awesome";

/* ----------------------------------------------------------------
	application.scss Structure
	
	1. Basic Layout Styles (margins, paddings, borders, etc.)
	2. Typography (Headings, Subheadings, Subtitles, etc.)
	3. Sections (section id, class id, etc.)
	4. Columns & Grids (custom columns and grids)
	5. Header / Logo
	6. Menu
	7. Body
	8. Overlays, Models, Notifications (toast)
	9. Footer
	10. Buttons / Toggles
	11. Misc.
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/
.nomargin {
  margin: 0 !important;
}

.notopmargin {
  margin-top: 0 !important;
}

.nobottommargin {
  margin-bottom: 0 !important;
}

.norightmargin {
  margin-right: 0 !important;
}

.noborder {
  border: none !important;
}

.notopborder {
  border-top: none !important;
}

.nobottomborder {
  border-bottom: none !important;
}

.nopadding {
  padding: 0 !important;
}

.hidden {
  display: none !important;
}

.center {
  text-align: center !important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}

.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

.right {
  float: right !important;
}

nobg {
  background: none !important;
}

.t400 {
  font-weight: 400 !important;
}

.t800 {
  font-weight: 800 !important;
}

.ls1 {
  letter-spacing: 1px !important;
}

.ls3 {
  letter-spacing: 3px !important;
}

.font-body {
  font-family: 'Opens Sans', sans-serif;
}

.font-primary {
  font-family: 'Montserrat', sans-serif;
}

.font-secondary {
  font-family: 'Crete Round', serif;
}

.top {
  top:0%;
}

.hcenter { 
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vcenter {
  min-height: 100%;
  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  
  width: 100%;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
  
  vertical-align: middle;
}

/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Search Form
-----------------------------------------------------------------*/

.search
{
  width: 80%;
}

.input-field.bg
{
    color: black;
    background-color: #ffffff;
    opacity: 0.6;
}

#login-form
{
    margin-top:55%;
    border-style:solid;
    border-width: 5px;
    border-color: #03a9f4;
}

/* ----------------------------------------------------------------
	Profile Page/ Edit Profile Page
-----------------------------------------------------------------*/

.cardSize
{
  height:250px;
}

.editCardSize
{
  height:800px;
}
.pic
{
  background:asset-url('cover_city.jpg');
  width:500px;
  height:100px;
  background-size: cover;
  z-index:3;
}

.rowTop
{
  position: absolute; 
  top: 0; 
  right: 0;  
  text-align:right;
  padding-right: 10px;
}

.rowBottom
{
  position: absolute; 
  bottom: 0; 
  right: 0;  
  text-align:right;
  padding-right: 10px;
}

/* ----------------------------------------------------------------
	Home Page
-----------------------------------------------------------------*/

.android
{
  width: 33.3%;
  height: 66.6%;
  background-color: #011627;
  float:left;
}

.website
{
  width: 33.3%;
  height: 66.6%;
  background-color: #fdfffc;
  float:left;
}
.ios
{

  width: 33.3%;
  height: 66.6%;
  background-color: #2ec4b6;
  float:left;
}

.allcat
{
  width: 100%;
  height: 33.3%;
  background-color: #ff9999;
  float:left;
}

.iosImage
{
  background:asset-url('iOS.png') no-repeat;
  width:100%;
  height:100%;
}

.centerButton
{
  height: 50%;
}

.bg-img
{
  background: asset-url('cover_city.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

/* ----------------------------------------------------------------
	Columns & Grids
-----------------------------------------------------------------*/


.postcontent { width: 860px; }
.postcontent.bothsidebar { width: 580px; }
.sidebar { width: 240px; }
.col_full { width: 100%; }
.col_half { width: 48%; }
.col_one_third { width: 30.63%; }
.col_two_third { width: 65.33%; }
.col_one_fourth { width: 22%; }
.col_three_fourth { width: 74%; }
.col_one_fifth { width: 16.8%; }
.col_two_fifth { width: 37.6%; }
.col_three_fifth { width: 58.4%; }
.col_four_fifth { width: 79.2%; }
.col_one_sixth { width: 13.33%; }
.col_five_sixth { width: 82.67%; }
body.stretched .container-fullwidth {
	position: relative;
	padding: 0 60px;
	width: 100%;
}

.postcontent,
.sidebar,
.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth {
	display: block;
	position: relative;
	margin-right: 4%;
	margin-bottom: 50px;
	float: left;
}

.postcontent,
.sidebar { margin-right: 40px; }

.col_full {
	clear: both;
	float: none;
	margin-right: 0;
}

.postcontent.col_last,
.sidebar.col_last { float: right; }

.col_last {
	margin-right: 0 !important;
	clear: right;
}

/* ----------------------------------------------------------------
  Header / Logo
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Menu / SideNav
-----------------------------------------------------------------*/

#logo-container
{
  height: 250px;
  margin-bottom: 30px;
}

#profile-logo
{
  background:asset-url('profile-photo-placeholder.png') no-repeat;
  height:100%;
  
}

/* ----------------------------------------------------------------
	Body
-----------------------------------------------------------------*/

.stretched #wrapper {
  width: 100%;
  margin: 0;
  box-shadow: none;
}

/* ----------------------------------------------------------------
	Overlays / Modals / Notifications (toast)
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Buttons / Toggles
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Misc.
-----------------------------------------------------------------*/
