<footer class="page-footer col s12 nomargin noborder nopadding light-blue">
  <div class="footer-copyright light-blue" >
    <div class="container">
    © 2016 Blitz Inc.
    <a class="grey-text text-lighten-4 middle" href="#!"> SITEMAP </a>
    
    <a class="grey-text text-lighten-4 middle" href="#!"> TERMS & CONDITIONS </a>
    
    <a class="grey-text text-lighten-4 middle" href="#!"> PRIVACY POLICY </a>
    
    <a class="grey-text text-lighten-4 middle" href="about"> CONTACT US</a>
    <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    
    </div>
  </div>
</footer>