<footer class="col s12 nomargin noborder nopadding light-blue">
  <div class="row nomargin page-footer light-blue">
    
    <div class="col s2 copyright">
      © 2016 Blitz Inc.
    </div>
    
    <div class="col s4">
      <a class="grey-text text-lighten-4 middle" href="#!"> SITEMAP </a>
      /
      <a class="grey-text text-lighten-4 middle" href="#!"> TERMS & CONDITIONS </a>
      /
      <a class="grey-text text-lighten-4 middle" href="#!"> PRIVACY POLICY </a>
      /
      <a class="grey-text text-lighten-4 middle" href="about"> CONTACT US</a>
    </div>
    
    <div class="col s6 right">
      
      <div class="col s1 text-center right">
        <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
      </div>
      <div class="col s1 text-center right">
        <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </div>
      <div class="col s1 text-center right">
        <a class="grey-text text-lighten-4 right" href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </div>
      
    </div>
    
  </div>
</footer>