<div>
    
    <nav>

        <a href="#">Sitemap</a>
        
        <a href="/about">About</a>
        
        <a href="#">Terms of Service</a>
        
        <a href="#">Privacy Policy</a>
        
        <a href="#">Contact Us</a>
        
    </nav>
    
</div>

<div class="social">
    
    <a href="#" target="_blank" rel="nofollow" class="fa fa-google-plus" data-tip="Google+">
    </a>
    <a href="#" target="_blank" rel="nofollow" class="fa fa-facebook-official" data-tip="Facebook">
    </a>
    <a href="#" target="_blank" rel="nofollow" class="fa fa-twitter" data-tip="Twitter">
    </a>
    
</div>