<body>
  
  <div class="navbar-fixed">
   <nav>
      <div class="nav-wrapper light-blue">
        <a href="home" class="brand-logo center">Blitz</a>
        <ul id="nav-mobile" class="right">
          <li><%= link_to "Login", login_path %></li>
        </ul>
        <ul id="slide-out" class="left side-nav">
          <li>
          <a href="home" id="logo-container"class="nomargin nopadding">
            <object id="profile-logo"></object></a>
          </li>
          <li><%= link_to "Profile", profile_path %></li>
          <li><%= link_to "Listings", listing_path %></li>
          
          <li><%= link_to "Settings", setting_path %></li>
        </ul>
        <a class="button-collapse show-on-large" href="#!" data-activates="slide-out">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>
  </div>
  
  <script src="js/jquery.min.js"></script>
  <script src="js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.button-collapse').sideNav();
    });
  </script>
  
</body>